[2017-01-11 08:55] EtaySchur opened #1 "npm start errors..."
Hi There :)
Thx for this plugin ! it really looks great and has all the features im looking for ...
I just cloned this project and tried to npm start it but it show some errors ...
I did try to make my own project by using your example but for some reason some widgets are missing ( probably  CSS issues ) ...
Am I missing something ? or its a known issue ?
thanks alot again
Etay

[2017-01-11 09:45] roelbarreto commented on #1
Hi @EtaySchur , you can try to remove node_modules directory and pull latest ang run npm install again,
Issue is caused by angular 1.6.x which has a big difference in angular 1.5.x, https://github.com/greatCodeIdeas/md-date-range-picker/commit/3ff3a2d7d6ec6bddce487906cf1ff6c580ad0d17

Regards

[2017-01-27 21:40] aaronmoller opened #2 "License?"
Do you plan to add a license for this plugin?

[2017-01-28 02:38] roelbarreto commented on #2
MIT or GNU would Do, Thanks @aaronmoller, I'll add it.

[2017-01-28 22:44] #2 closed, assigned to roelbarreto

[2017-01-28 22:47] #1 closed, assigned to nobody

[2017-02-06 23:35] dharbinjaflick opened #3 "Rendering issue??"
Hello,

Love the concept and am hoping to use your library in my project. One issue I'm having is that it's not rendering like your demos. I'm using the md-date-range directive. I have attached a screenshot of what it looks like for me:

<img width="351" alt="screen shot 2017-02-06 at 6 32 42 pm" src="https://cloud.githubusercontent.com/assets/9578924/22671165/e6a6fdaa-ec9a-11e6-9a6b-410e86ec1584.

[2017-02-09 09:16] pawandelhivery opened #4 "md-date-range directive not working in angular1.6.2"
Cannot read property 'selectedTemplateName' of undefined error in console

[2017-02-13 23:30] roelbarreto commented on #4
Hi @pawandelhivery  Can you verify the fix if fixed yours. md-date-range-picker@0.3.1

[2017-02-14 02:31] roelbarreto commented on #3
Please verify Fix on md-date-range-picker@0.3.1

[2017-02-17 21:00] dharbinjaflick commented on #3
@ipiz Yup, looks fixed in the latest version. Thank you!

[2017-02-17 23:01] #3 closed, assigned to nobody

[2017-02-23 21:53] aaronmoller opened #5 "firstDayOfWeek option doesn't work"
I could not get the firstDayOfWeek option to work. Modifying START_OF_WEEK on md-date-range-picker.js,128 does work, so it looks like there's a bug in the assignment when the directive is set up. Am I missing something?

[2017-02-24 05:27] roelbarreto commented on #5
Can you verify fix on the latest version 0.3.2 05fb19fe0b9ae3e6f5b63fe34183426d4954b155
regards.
`first-day-of-week="1"`

[2017-02-24 15:56] aaronmoller commented on #5
How do I use it when calling the date picker with JS?

`$mdDateRangePicker.show({
                targetEvent: $event,
                model: $scope.selectedRange,
                firstDayofWeek: 0
            })`

[2017-02-24 23:54] roelbarreto commented on #5
@aaronmoller Thanks for reporting this, i have released a new fix to include firstDayOfWeek on modal picker
md-date-range-picker@0.3.3
[code]

[2017-03-02 11:27] yoni12ab opened #6 "localization , can I override the labels of the picker ?"
I want to be able to override the all the labels of the picker for localization is that supported ?

[2017-03-02 11:30] yoni12ab opened #7 "Can I add custom buttons of date range ?"

[2017-03-10 15:00] yoni12ab commented on #6
added localization in #9

[2017-03-10 15:00] #6 closed, assigned to nobody

[2017-03-10 15:01] yoni12ab commented on #7
added support for custom date range in #9

[2017-03-10 15:01] #7 closed, assigned to yoni12ab

[2017-03-17 19:58] syphen opened #10 "customTemplates in model dont show"
I'm trying to add some custom templates and they don't seem to be showing when the calendar is instantiated, only the default templates are. Here's my code:
[code]

Also, is there a way for this to work and is there a way for me to disable the default templates?

[2017-03-18 06:05] roelbarreto commented on #10
Hi @syphen Can you check the demo site https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html where custom templates are added
We will add feature to disable the predefined templates

[2017-03-19 23:49] roelbarreto commented on #10
Released version 0.4.1 to resolve this issue
Tanks to @yoni12ab

[2017-03-19 23:49] #10 closed, assigned to nobody

[2017-03-21 14:20] claudioviola opened #12 "Change locale"
Hello! How can I change language of the months/weeks and of the custom template?
https://material.angularjs.org/latest/api/service/$mdDateLocaleProvider
I try like this but doesn't works...

[2017-03-21 15:33] yoni12ab commented on #12
Hi @claudioviola ,
try to use the localization map attribute (localization-map="mdLocalizationMap") like this :
 $scope.mdLocalizationMap =  {
            'Mon':'Mon*',
            'This Week':'Current Week',
            "January":"January1",
            "February":"February1",
            "March":"March1",
            "April":"April1",
            "May":"May1",
            "June":"June1",

[2017-03-21 15:37] claudioviola commented on #12
Hi @yoni12ab

I've the code in the controller. My code is like this but didn't works...

`let localizationMap =  {
            'Mon':'Lun*',
            'This Week':'Settimana corrente',
            "January":"Gennaio",
            "February":"Febbraio",
            "March":"Marzo",
            "April":"Aprile",
            "May":"Maggio",
            "June":"Giugno",
            "July":"Luglio",

[2017-03-21 15:47] yoni12ab commented on #12
try this :

let opts = {
        selectedTemplate:'TY',
        selectedTemplateName: 'Anno corrente',
        dateStart: null,
        dateEnd: null,
        showTemplate: true,
        fullscreen: false,
        firstDayOfWeek: 0,
        **localizationMap**:localizationMap
    };

[2017-03-21 15:49] claudioviola commented on #12
Nothing... not works... thanks for support

[2017-03-21 16:05] yoni12ab commented on #12
Check that you have the latest version
https://www.npmjs.com/package/md-date-range-picker
![image](https://cloud.githubusercontent.com/assets/2004268/24156960/c013703c-0e60-11e7-8707-43c8c7a6803c.png)

[2017-03-22 10:07] claudioviola commented on #12
Hello @yoni12ab ! Thanks for support.
I'm using ver 0.4.1

This is my example. (Could you send me your example with my customization? I could see where I'm wrong...)

[code]

[2017-03-22 11:39] claudioviola commented on #12
Maybe I found the solution. In the directive library in show method I added the localization-map param. Like this:
Now it works...
[code]

[2017-03-22 12:19] yoni12ab commented on #12
Hi @claudioviola ,
You are right the npm package is not totally updated ,
@ipiz after clean npm installed the package I notice that the "dist" folder contains old files and the
"src" folder contains the updated version , "npm run dist" ?

Yoni

[2017-03-22 12:55] roelbarreto commented on #12
Thanks @yoni12ab  I'll check and publish it

[2017-03-22 13:17] claudioviola commented on #12
Hi @yoni12ab
After npm install I run "npm run dist" but there is this issue in the console terminal

[code]

[2017-03-22 13:45] yoni12ab commented on #12
Hi @claudioviola ,
After that @ipiz will update the npm package you can npm install the new version
and it suppose to be fixed
Yoni

[2017-03-22 14:22] claudioviola commented on #12
Great! Thank you guys! Works fine!

[2017-03-22 14:22] #12 closed, assigned to nobody

[2017-03-22 14:23] claudioviola opened #13 "Show only 1 calendar"
Is it possible to show only 1 calendar ant not 2 like default?
How could I implement this changes?

Thank you!

[2017-03-28 14:25] armenhajian opened #15 "Can we disable selecting future dates?"
Hello, thanks for cool project.
Is there a way to disable future dates?

[2017-03-28 22:38] #5 closed, assigned to nobody

[2017-03-28 22:38] #4 closed, assigned to nobody

[2017-04-06 02:22] #13 closed, assigned to nobody

[2017-04-06 02:22] #15 closed, assigned to nobody

[2017-04-07 10:17] lnalbandyan opened #16 "Disabled dates not working by selecting date range with template."
@ipiz Hi, Thanks for adding disabled dates feature, we really appreciate that :) During tests I got some wired bug when selecting templates, it also selects disabled dates and in returned object we can see them.
Would be great if you will fix that :)

One more time thanks.

[2017-04-07 13:52] roelbarreto commented on #16
Hmm that might a bit tricky as we need to filter also when you pass a start and end date on a model.
I'll think of it on how to handle.

[2017-04-07 13:54] lnalbandyan commented on #16
@ipiz Thanks

[2017-05-03 14:58] Genghis-Koen opened #17 "Calendar isn't displayed correctly when the 1st day of the month is Sunday and first day of the week set to Monday"
If the first day of the month is a Sunday and first day of the week set to Monday, day 1 isn't shown on the calendar.  The behavior seems to be correct if the first day of the week is set to Sunday.

![2017-05-03_16h16_25](https://cloud.githubusercontent.com/assets/26899446/25665140/00f4f570-301d-11e7-8d82-237affed28b4.png)
![2017-05-03_16h17_10](https://cloud.githubusercontent.com/assets/26899446

[2017-07-14 07:11] fernandometeored opened #20 "Close the calendar when I select the departure date"
I would like to know how to modify the js so that the calendar closes when I select the date of exit. I do not know if it's an option that comes in the directive.

Thank you.

[2017-07-19 14:20] llutfiev opened #21 "IE11 not registring all clicks on dates"
When the user opens the menu to select a date. He/she cannot click on the date itself. They will need to click on the circle around the date.

![image](https://user-images.githubusercontent.com/21263306/28367594-cf37765a-6c91-11e7-95f9-ebb731d0a074.png)

![image](https://user-images.githubusercontent.com/21263306/28367668-1a98225c-6c92-11e7-9975-ade31980219f.png)

This is because the date itself i

[2017-07-20 14:35] llutfiev commented on #21
Hello @ipiz  I fixed this issue by copying the event-param and event-key in the md-date-range-picker__calendar__selection span. Like this

`
<span class="md-date-range-picker__calendar__selection"  event-key="date1" event-param="{{$index}}" ng-bind={{::date.getDate()}}></span>
`

[2017-07-27 17:44] alian91 opened #22 "The $mdOpenMenu method is deprecated. Please use `$mdMenu.open`"
Everytime I open the range-picker, I get this warning. You should update to $mdMenu.open

[2017-07-28 08:29] #17 closed, assigned to nobody

[2017-08-01 10:15] #16 closed, assigned to nobody

[2017-08-01 10:17] roelbarreto commented on #16
For now Disabled dates should be handle by the controller when you received the returned date range model. When you disable all Sundays then you have Selected this week, it should select the week but displays that Sunday is grayed out but on your model you will need to tweak that the Sunday is not included.

[2017-09-08 13:47] vishnu-vv opened #24 "How to disable the future dates?"
If there is already an option to do this, please make the reference doc much more informative by including those options.

[2017-09-10 16:41] roelbarreto commented on #24
Hi @vishnu-vv  Thanks for pointing out this. We already have this feature https://github.com/greatCodeIdeas/md-date-range-picker/blob/1a8cf8a8f82c44d6d35808711d35c5ebf611c7d0/demo/index.html#L44
We can add it to the docu.

[code]
[code]

[2017-09-10 16:44] roelbarreto commented on #24
Reference Commit
https://github.com/greatCodeIdeas/md-date-range-picker/commit/45cd579ede559d430409564f04eda9bcbb220861
https://github.com/greatCodeIdeas/md-date-range-picker/commit/93e99c62859df22ed3b22640e2b6e22b38f01457

[2017-09-18 17:14] nirlepkaur opened #25 "How to display only current month"
Is there an option to display only current month, instead of two months

[2017-09-18 17:27] nirlepkaur commented on #25
found one-panel attribute

[2017-09-18 17:27] #25 closed, assigned to nobody

[2017-09-18 19:24] nirlepkaur opened #26 "Showing already selected dates"
Is there any options to highlight currently selected multiple date range, if Calendar UI is opened in edit mode. So if user has selected some date ranges and saved it, opening the UI, should show the already selected date ranges in Calendar

[2017-09-18 20:06] bhargavmullakuru commented on #26
Set the date range start and end dates from the response to the mddaterangepicker's  scope variable..it will set the date range automatically..you can set on $scope.pick function too..

[2017-09-19 12:06] nirlepkaur commented on #26
I need to display multiple selected date ranges in Calendar. So , user has selected a date range and saved it in database and performed this action few times. Now, opening the Calendar, need to highlight all those previously selected date ranges

[2017-09-19 14:36] danillocesar opened #27 "Crashing on firefox and safari"
Just open the demo page on those browser and you will see..

Any quick fix for that?

[2017-09-20 06:49] roelbarreto commented on #27
@danillocesar  Works fine on my firefox Windows, I have no mac yet to test it but I'll find a way to test on Mac Safari/Firefox
![image](https://user-images.githubusercontent.com/1954163/30630352-d6c490b2-9e12-11e7-94d4-74ccf22f60e6.png)

[2017-09-20 06:57] roelbarreto commented on #26
@nirlepkaur  If you want to display the previously selected date range saved into database you just need to pass it to the model. The following code might be how you want it.
[code]

[code]

Please let me know if this is not what you want.

But if you want to have a date range more than 1 range highlighted in the date picker, we don't have this functionality atm.

[2017-09-20 06:59] #24 closed, assigned to nobody

[2017-09-20 06:59] #21 closed, assigned to roelbarreto

[2017-09-20 07:00] #22 closed, assigned to nobody

[2017-09-20 07:00] #20 closed, assigned to roelbarreto

[2017-09-20 13:08] #26 closed, assigned to nobody

[2017-09-20 13:49] danillocesar commented on #27
That's weird. Here's what happens on my firefox and on my clients.
![ff](https://user-images.githubusercontent.com/20955833/30647147-4432855e-9df1-11e7-87e3-0f8b565c9f22.png)

It takes a lot of time to load then firefox ask me to shut it down because some script is taking too long to run, probably in some kinda of a infinite loop.

[2017-09-21 12:25] roelbarreto commented on #27
I'll Investigate it

[2017-09-21 13:58] danillocesar commented on #27
I'm in Brazil, if that helps. From what i've seen, its on a method that change the time of the calendar.. its possiblem that the region is interfering?

[2017-09-21 15:50] roelbarreto commented on #27
@danillocesar Can you execute this script on your firefox then post the log result here?
[code]

[2017-09-21 21:25] danillocesar commented on #27
Date 2017-08-28T03:00:00.000Z Date 2017-10-02T03:00:00.000Z

That's the result

[2017-09-23 08:19] roelbarreto commented on #27
Got similar issue on Brazil timezone https://discussions.apple.com/thread/2715555?tstart=0
I'll continue investigating this
Thanks @danillocesar

[2017-10-01 12:16] lironbar opened #28 "calendarStartDate / calendarEndDate wrong calc"
calendarStartDate / calendarEndDate wrong calc when month start on Sunday and should be the first day view on calendar

 calendarStartDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1 - (monthStartDate.getDay() == 0 ? 6 : (monthStartDate.getDay() - getFirstDayOfWeek()))),

the ? 6 should be set to 0 and not 6.
same as calendarEndDate

[2017-10-02 04:18] roelbarreto commented on #27
@danillocesar  A recent release related to your issue has been addressed, can you verify on demo page if still having the existing issue? https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html

[2017-10-02 11:47] danillocesar commented on #27
@ipiz  same problem, line is 334
` while (calendar < calendarEndDate) {
                dates.push(calendar);
                calendar = new Date(calendar.getFullYear(), calendar.getMonth(), calendar.getDate() + 1);
            }`

[2017-10-02 13:25] lironbar commented on #28
great! thanks for the update

[2017-10-04 17:04] ermin-islamagic opened #29 "Picking dates with different years not working"
![chrome_2017-10-04_19-01-55](https://user-images.githubusercontent.com/8225704/31188903-d57745ea-a936-11e7-84c1-74bf61e7e06b.png)

[2017-10-05 00:55] #29 closed, assigned to roelbarreto

[2017-10-05 00:56] #28 closed, assigned to nobody

[2017-10-05 01:02] roelbarreto commented on #29
Both bower and npm package Released version 0.6.2 for this Hotfix
Demo page updated https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html

[2017-10-05 01:24] roelbarreto commented on #27
@danillocesar  could you try another shot testing https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html on your browser? I updated the demo to use the latest build i mate which limit the loop for possible infinite loop.

Regards...

[2017-10-05 02:33] danillocesar commented on #27
@ipiz  yes, its not crashing now.. can i update my project with the new build?

[2017-10-05 07:06] roelbarreto commented on #27
I can publish a new release with the fix 0.6.3

[2017-10-05 07:09] roelbarreto commented on #27
You can now update your dependency version to 0.6.3 or get the latest build
Regards...

[2017-10-05 07:09] #27 closed, assigned to roelbarreto

[2017-10-05 12:22] danillocesar opened #30 "One specific day repeating on all days"
Hello, its me again.

With the new update, one of the days is showing as all days of the current month (just on firefox)

![image](https://user-images.githubusercontent.com/20955833/31227008-a4a3c29a-a9ae-11e7-98b4-4785fa7b4c43.png)

[2017-10-09 10:17] jonaskoelker opened #31 "When month starts on a Sunday, first-day-of-week>0 hides first days of month"
When a month starts on a Sunday, such as October 2017, and I set `first-day-of-week="1"`, the first date in the grid is October 2nd. I would expect a row with October 1st and the last six days of September being shown (the days of September being low-lighted).

[2017-10-09 10:22] jonaskoelker opened #32 "Feature request: user-specifiable highlighted dates"
I want a set of days to be highlighted.

It would address my use case if md-date-range-picker took a callback `isHighlightedDate` (similar to `isDisabledDate`) and added a `something-something__highlighted` class to exactly those days for which `isHighlightedDate` returns `true`.

It would be much less useful for me if I have to specify the set of days as an argument to the `<md-date-range-picker

[2017-10-10 09:42] jonaskoelker commented on #32
I rolled my own, which probably only covers the subset of md-date-range-picker I use. You can see my solution at https://github.com/StiboSystems/md-date-range-picker and probably come up with something more general.

[2017-10-31 20:37] ermin-islamagic opened #34 "Feature request: number of days on selected range"
Maybe to put number of days inclusive and or exclusive when 2 dates are picked ???

[2017-11-01 10:12] roelbarreto commented on #34
referenced #32

[2017-11-03 04:11] roelbarreto commented on #34
Hi @hamleet  with new 0.7.0 release we can now able to get all selectedDates and you can get the length for the counts

`<md-date-range md-on-select="countModel = $dates.length" ...`

[2017-11-03 04:17] roelbarreto commented on #32
Hi @jonaskoelker with 0.7.0 release we can now get the selected dates
`<md-date-range md-on-select="selectedDatesModel = $dates" ...`
I have also added a service so you can filter all dates
`$mdDateRangePicker.getSelectedDate(Date dateStart, Date dateEnd, Func({$date}) isDisabledDate, Number maxRange);`

[2017-11-03 04:17] roelbarreto commented on #31
@jonaskoelker the issue should be reolved on 0.7.0 release

[2017-11-03 04:19] roelbarreto commented on #30
@danillocesar  Can you verify again this on your firefox browser? regards...
Please check on the new Demo page https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html

[2017-11-03 04:22] #34 closed, assigned to nobody

[2017-11-03 04:22] #32 closed, assigned to nobody

[2017-11-03 04:22] #31 closed, assigned to nobody

[2017-11-03 10:30] danillocesar commented on #30
Its working fine now, i guess. Thank you @ipiz. if i find any more problem i will make sure to post it

[2017-11-03 14:28] #30 closed, assigned to roelbarreto

[2017-11-04 05:02] louisdauvois opened #35 "Customisation"
Hi,

First of all thanks for the good work.

I have some question :
- How to change the local ? I see the localmap but what is the format of this input.
- How I can change the color of the selected range ?

Thanks you

[2017-11-04 14:05] roelbarreto commented on #35
- Local customization https://github.com/greatCodeIdeas/md-date-range-picker/issues/12
- You can override css styling, please check the applicable classes https://github.com/greatCodeIdeas/md-date-range-picker/blob/master/dist/md-date-range-picker.css

[2017-11-04 22:50] vishnu-vv opened #36 "Can we disable future dates from the controller?"
Like this
[code]

[2017-11-05 01:27] roelbarreto commented on #36
[code]

[2017-11-05 13:33] vishnu-vv commented on #36
@ipiz But it is causing error
`$date is not defined`
Thanks for your quick response

[2017-11-05 14:16] roelbarreto commented on #36
Sorry this should be the right one, just pass the reference to the function not the function call
[code]

[2017-11-05 14:17] vishnu-vv commented on #36
@ipiz Let me try that, Thanks a lot yaar. 👍

[2017-11-05 14:35] vishnu-vv commented on #36
@ipiz Actually, what is this property `isDisabledDate` meant for, i thought it was meant for disabling the future dates in the date-range-picker.
But trying the options you gave me, the future dates are not disabled.

[2017-11-07 08:25] vishnu-vv commented on #36
@ipiz Any update ?

[2017-11-07 08:54] roelbarreto commented on #36
It disable dates when your callback returns true you can check some example at the demo site https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html

[2017-11-08 12:57] vishnu-vv commented on #36
[code]

This did the fix for me. Thanks brother. 👍
PS: define the function `$rootScope.isFutureDate` before `$rootScope.selectedRange`

[2017-11-08 12:57] #36 closed, assigned to nobody

[2017-11-08 13:39] vishnu-vv opened #37 "When we add custom templates, how can we get that selected by default ?"
[code]

I want `Last 30 Days` to be selected by default.
Something like this:

[code]

[2017-11-08 13:47] roelbarreto commented on #37
At some point the dateStart and dateEnd are filled after any digest event
[code]
or get the mdOnSelect event
[code]
[code]

Hope this helps

[2017-11-08 13:57] vishnu-vv commented on #37
![image](https://user-images.githubusercontent.com/22231473/32552689-c74577ae-c4ba-11e7-9b95-fa913be54455.png)

See this attachment. @ipiz

[2017-11-09 03:36] roelbarreto commented on #37
Sorry I dint understand the first question, I'll make a fix for this one

[2017-11-09 03:38] roelbarreto commented on #35
I'll add an option to Customize The Display Format

[2017-11-13 18:18] ashishyadav0019 opened #38 "open mdDateRange instead of mdDateRangePicker"
Is there a way to open "mdDateRange" on button click or any other event (the one that opens in md-menu). instead of "mdDateRangePicker" (this one open in md-dialog)?

the documentation only has work around for "mdDateRangePicker"
[code]
    this on opens in dialog box...
but i want the one that opens in `md-menu` to open on my event

![md-dialog](https://user-images.githubusercontent.com/31069071/

[2017-11-14 11:01] roelbarreto commented on #38
Try something like this https://jsfiddle.net/xvc93tgs/1/
Or just put some css on the md-date-range button/input

[2017-11-15 07:24] ashishyadav0019 commented on #38
Thanks it just the thing i wanted....
I was trying to execute `$mdOpenMenu($event)` form out side of.... `mdMenu `that's the reason I failed.

Thanks a lot...
Made my day

[2017-11-15 07:25] #38 closed, assigned to nobody

[2017-11-17 02:24] bsell93 opened #39 "Auto Confirm using Service"
Is it possible that using auto confirm can be added to the service configuration?
[code]

I browsed through the source and it doesn't appear to be an option.

Thanks!

[2017-11-17 15:07] bsell93 commented on #39
Incredible work! Thanks for doing that so quickly! Works well!

[2017-11-17 15:07] #39 closed, assigned to nobody

[2017-11-17 15:32] bsell93 opened #40 "Console log"
Is it possible we could remove this console log. Thanks again!

https://github.com/greatCodeIdeas/md-date-range-picker/blob/2d05958abee782cd0793e11b09f136c0dfe2a7ba/src/md-date-range-picker.js#L587

[2017-11-18 07:57] roelbarreto commented on #40
Done 0.7.2

[2017-11-18 07:57] #40 closed, assigned to nobody

[2017-11-18 15:42] #37 closed, assigned to roelbarreto

[2017-11-18 15:43] #35 closed, assigned to roelbarreto

[2017-11-20 08:43] yoomury opened #41 "Angular 4 Integration"
Hey,
It is possible to change all templateUrls to inline templates? This will make the Angular 4 integration way easier. I upgraded the component and all is fine beside this templateUrl thing.

Thank you.

[2017-11-20 14:24] GauSim commented on #41
👍

[2017-11-21 07:59] roelbarreto commented on #41
Yes, we can just put it inline.

[2017-11-21 08:31] vishnu-vv commented on #37
@ipiz That was awesome 👍

[2017-11-21 11:11] vishnu-vv opened #42 "Illegal Invocation Typeerror"
<img width="628" alt="screen shot 2017-11-21 at 4 40 23 pm" src="https://user-images.githubusercontent.com/22231473/33069490-bbbfca40-ceda-11e7-95e5-9cad67d8c385.png">

[code]
I think you should remove the property `targetEvent: $event` from the object, it worked for me.

[2017-11-28 15:19] jonaskoelker commented on #32
I haven't tried the new version. From your description, I can't tell whether your changes address my need.

Let me try and restate what I want, then you can tell me whether the new version lets me have that.

By default, today's date is highlighted in bold. I don't want that. Instead, I want to highlight a set of dates in bold. For example, let's say I'm creating a web forum; I want to highlight (

[2017-11-28 16:54] roelbarreto commented on #32
I think this library is not what you need. A date range consist of start and end date. If you have multiple date highlighted, that may be a calendar/date picker with multiple pick. The current update can only highlighted a date based on start and end date range.

[2017-11-30 09:38] alanmoynagh commented on #41
Hi @yoomury, would it be possible for you to share the upgraded Angular 4 code? It would be much appreciated, thanks!

[2017-12-05 13:14] jonaskoelker commented on #32
I think you misunderstand me. By 'highlighted' I don't mean selected. By 'highlighted' I mean an aspect of how a date is rendered, independent of whether it's selected (that aspect being 'bold').

I want my user to select a range of dates, and I want to use bold to tell the user which dates are (probably) of interest to them and which are not. The thing my user gives to me should be an interval of

[2017-12-05 19:45] bsell93 opened #44 "Would it be possible to nest the dialog on top of an existing dialog?"
I created a pull request #43 that should allow this, but if more changes are needed let me know or feel free to change it yourself 😄
Thanks!

[2017-12-06 10:27] roelbarreto commented on #44
Thanks @bsell93 , I published 0.7.3 on both bower and npm registry for your tweaks.
Regards...

[2017-12-06 10:27] #44 closed, assigned to nobody

[2017-12-06 17:30] orlandovallejos opened #45 "Focus on same start and end date"
I know this is a range picker, but I use it as a regular calendar because I prefer it over the Material Design option.
Because of this, I set the start and end date with the same variable.
Everything works fine, except when I want to see the date and see it focused.

This is what I guess it's causing this specific problem:

![image](https://user-images.githubusercontent.com/18174459/33675586-0999b

[2017-12-06 20:02] roelbarreto commented on #45
Have you tried this one https://github.com/appfoundations/md-date-picker?

[2017-12-06 20:27] orlandovallejos commented on #45
Thanks, but it's not what I need to use. This range calendar is great because of the combos with months and years.
Besides I use this same component as a range picker in other modules of my app. It'd be very nice to use the same component along the whole app.

[2017-12-07 02:38] roelbarreto commented on #45
Hi @orlandovallejos
In your case, to compare the Date you need to convert them into string because The Dates might be different instance of an object.
Example
[code]

[2017-12-07 16:01] orlandovallejos commented on #45
Thank you @ipiz but comparing dates is not my problem.
I took that code from `md-date-range-picker-js file`.

All I want is to call the method `focusToDate` from `mdDateRangePickerCtrl` even though dates are the same, because that's what I'm using in this case. I'm using this control not as a range picker, BUT as a regular date picker. I really like it, that's why I want to use it as a regular dat

[2017-12-07 16:22] orlandovallejos opened #46 "is func inCurrentMonth missing years?"
I believe there is a comparison missing for years in this particular function.
Because months can be the same, but not the year, and that should trigger the focus method.

This is what I'm talking about:
[code]

[2017-12-08 06:45] #42 closed, assigned to nobody

[2017-12-08 06:45] #46 closed, assigned to nobody

[2017-12-14 11:25] vikasinnoeye opened #48 "RangeError: Maximum call stack size exceeded"
Hi,
I am getting this error after adding this library:

    at Date.setMonth (<anonymous>:1024:39)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:1025:132)
    at Date.setMonth (<anonymous>:102

[2017-12-14 16:31] roelbarreto commented on #48
You might have other libraries causing a conflict
The code that call setMonth is only for generating month Names
https://github.com/greatCodeIdeas/md-date-range-picker/blob/master/src/md-date-range-picker.js#L275

[2017-12-14 16:46] roelbarreto commented on #48
@vikasinnoeye  I have published a hot fix, please let me know if still having issue
Regards...

[2017-12-15 07:03] #48 closed, assigned to nobody

[2018-01-19 19:28] Gautam19 commented on #45
This is a versatile date range picker ,.I also have same requirement as above . I tried the datepicker ,however it wouldn't have a calendar view and DD/MM/YYYY format (which the Range Picker has) [ I basically need the DatePicker and Calendar View to be insync ].

I wanted to know how to limit the date selection to 1 day

Apologies if this issue has been addressed i went through commits and am goi

[2018-01-25 14:52] goldserg opened #49 "custom templates doesn't hide"
does not close the drop down list of custom templates and click outside of it and hide the calendar

![image](https://user-images.githubusercontent.com/3272624/35394289-6ff31b70-01f8-11e8-9059-1559832ede9c.png)

[2018-01-25 15:04] goldserg opened #50 "There is no way to manually set the date in the input field"
There is no way to manually set the date in the input field

[2018-01-25 16:07] goldserg opened #51 "Calendar does not close after select option in custom template list"
After selecting a custom template, the calendar does not close with the option  auto-confirm="true"

[2018-01-25 19:21] roelbarreto commented on #50
Hi @goldserg , No plan to implement this yet for now unless someone would like to develop and make PR.
Regards...

[2018-02-28 11:37] fnnek opened #52 "Setting start date time to end of day"
Line 150, there's $scope.dateEnd && $scope.**dateStart**.setHours(23, 59, 59, 999);
instead of $scope.dateEnd && $scope.**dateEnd**.setHours(23, 59, 59, 999);

It couses troubles when you want to set start date at start.

[2018-02-28 15:14] roelbarreto commented on #52
this should be
```$scope.dateEnd && $scope.dateEnd.setHours(23, 59, 59, 999);```
Thanks @fnnek  for pointing this out. I'll have a patch or you can do PR

[2018-03-02 00:23] #52 closed, assigned to roelbarreto, fnnek

[2018-03-02 00:25] #50 closed, assigned to nobody

[2018-04-04 08:40] kyblinh opened #54 "Customisation of selected date"
Hi there,
I am trying to use the date picker and I would like to have a different format when range is selected. (My users do not want to see english). I would like to have something like '05/11/2018 - 26/12/2018'.

I cannot see how i could customize it that way , i have been able to translate most of the calendar with the localizationMap but I cannot get this to work.

Could you tell me how to ac

[2018-04-04 08:54] roelbarreto commented on #54
You can customize the date selection display https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html
Please see in Demo Advance

[code]
[code]

![image](https://user-images.githubusercontent.com/1954163/38298075-3773861e-37ee-11e8-9105-4035fa311ac8.png)

[2018-04-04 09:10] kyblinh commented on #54
Oh, i will do that. Sorry didn't see it... Thanks a lot!

[2018-04-04 09:12] #54 closed, assigned to nobody

[2018-04-10 14:46] lironbar opened #55 "mdDateRangePickerService -> add ng-if=showClear option"
in the mdDateRangeDirective there is an option to remove the clear button, yet the mdDateRangePickerService  there is no such option

Would love to have that option :)
Thank!!

[2018-04-13 12:05] SiriusED opened #56 "Infinity loading when I add first-day-of-week arg"
When I add first-day-of-week="0" or first-day-of-week="1" I get infinity loading on my page.
Here is the part of my HTML with datepicker:

                    <div flex="100">
                        <md-date-range auto-confirm="true"
                                       first-day-of-week="0"
                                       show-template="false"
                                       one-

[2018-04-13 17:43] roelbarreto commented on #56
For clear event, you can watch for the model changes, if !startDate or !selectedTemplateName then its cleared.
I'll investigate the infinite

[2018-04-22 13:02] lironbar commented on #55
@ipiz
Any chance it will be added anytime soon?
Thanks for helping

[2018-04-25 13:48] vishnu-vv commented on #51
@ipiz Still not fixed?

[2018-04-26 08:20] vishnu-vv commented on #51
https://github.com/greatCodeIdeas/md-date-range-picker/pull/57
@ipiz

[2018-05-29 14:59] tobiasAuzmendi opened #58 "Add the possibility to use different languages"
Hi how that's going?
I'm using the md-date-range-picker component. I'm wondering if is possible to use different languages. Is there a workaround to do this? I think that set the lang as some param is not the unique way, could be great, at least, set the month names, week day names and filtering options (such as "last month", "this year", etc..) verbiages settable. I'll appreciate an answer.
Kind

[2018-05-30 03:43] roelbarreto commented on #58
Duplicate issue and feature already added by @yoni12ab , please refer to #6

[2018-05-30 03:43] #58 closed, assigned to nobody

[2018-05-30 13:06] tobiasAuzmendi commented on #58
Great @ipiz! I'm playing with this. But as far as I understud the added functionality is related to custom templates (such as "last month", "this year", etc..). I can't find a way to translate week day names and month names. It would be very helpful for me to know your opinion about this. Thanks!

[2018-05-31 03:40] roelbarreto commented on #58
Yes the Month and Days can be set on there too.
https://jsfiddle.net/xvc93tgs/3/

[2018-05-31 06:48] tobiasAuzmendi commented on #58
Very complete and usable. Great job man!

[2018-06-11 06:35] manmarziyan opened #59 "Remove This year and Last Year options"
I'm using a custom template along with the given template. I'd like to have day, week, month and 6 months options. Is there any way I can hide/remove the Year button?

[2018-06-12 09:06] roelbarreto commented on #59
You can use the disableTemplates/disable-templates property

[2018-06-12 09:13] roelbarreto commented on #59
Here is the example https://jsfiddle.net/ipiz/fav9mu0e/
[code]

[2018-06-12 09:13] #59 closed, assigned to nobody

[2018-06-13 06:37] manmarziyan commented on #59
Works! Thanks

[2018-06-13 06:38] vishnu-vv commented on #59
👍

[2018-06-20 04:46] chriseugenerodriguez opened #61 "angular 2 support"
do you support this with angular 2?

[2018-06-25 11:47] roelbarreto commented on #61
@chriseugenerodriguez  Not yet

[2018-07-16 18:23] brianrodecap commented on #56
I am also experiencing this issue.  Infinite loop using "first-day-of-week" on "md-date-range."

[2018-07-17 05:42] roelbarreto commented on #56
Can you provide a jsfiddle to reproduce this? I'm getting hard time to reproduce it and look for the exact error.

[2018-08-06 07:41] botoxparty commented on #61
really would love this to be ported to Angular 2/4/5/6. theres a lack of good date range pickers, this is the best one by far.

If i knew how to I would do it myself.

[2018-08-06 22:39] palfaro91 opened #62 "Documentation missing"
Hello,

Is there any documentation available?

[2018-08-07 01:44] roelbarreto commented on #62
Demo and examples are here https://ipiz.herokuapp.com/md-date-range-picker-demo/index.html
Still need to build detailed documentations

[2018-08-07 19:45] palfaro91 commented on #62
How can I prevent auto closing when using custom templates? I have auto confirm set to false but it still closes the picker. It also doesn't trigger the change function. I have to open the picker back up and click the OK button to trigger a change.

[2018-08-07 20:40] palfaro91 commented on #62
I ended up adding `md-prevent-menu-close="md-prevent-menu-close"` to the div with the click event

[2018-09-28 09:50] pinal-r opened #64 "Throwing error of Can't copy"
angular.min.js:117 Error: [ng:cpws] http://errors.angularjs.org/1.5.5/ng/cpws
    at angular.min.js:6
    at c (angular.min.js:12)
    at d (angular.min.js:12)
    at c (angular.min.js:12)
    at d (angular.min.js:12)
    at c (angular.min.js:12)
    at Object.qa [as copy] (angular.min.js:14)
    at mdDateRangePickerService.show (md-date-range-picker.js:734)
    at n.$scope.selectDateRange (?hcode

[2018-09-28 10:30] pinal-r opened #65 "No option for giving minimum date"
I want to restrict user to select date less than some specified date , want to give minimum date but not able to find any option to do it.

[2018-10-26 05:13] kanishkgupta55 opened #66 "md-date-range-picker is giving error while injecting into project"
I have installed md-date-range-picker using bower install md-date-range-picker.
But while injecting "ngMaterialDateRangePicker" in angular.module.
Here is a part of my code :
angular.module('app.dashboards', ['app.dashboards.gantt-chart', 'ngMaterial', 'ngMaterialDateRangePicker'  ])

It is giving mentioned below error:
"Failed to instantiate module ngMaterialDateRangePicker due to:
Error: [$injec

[2018-11-02 07:45] roelbarreto commented on #66
@kanishkgupta55  Did you add the main script to your src or in script tag?
[code]

[2018-12-20 12:03] gp27 commented on #51
It seems like the issue was solved on the desktop version, but not on mobile.

On mobile a `<md-select></md-select>` directive is used to choose the custom templates.
However when the value changes, it doesn't close the calendar and it doesn't trigger the callback as well.

[2019-03-06 13:54] jktu2870 commented on #56
@ipiz Hi!
I've made a fix for this issue. Please check it out.

[2019-04-19 07:33] itgeniusshuai opened #68 "Is it support Angular1.6?"
Is it support Angular1.6?

[2019-04-22 05:37] roelbarreto commented on #68
Yes @itgeniusshuai , we used it in 1.6x and there is no issue so far.

[2019-04-23 06:19] itgeniusshuai commented on #68
thank you

[2019-04-23 06:19] #68 closed, assigned to nobody

[2019-10-30 10:01] quongdang opened #70 "Change language/locale, not automatic update"
Hi all,

I have issue with localization. My application have multiple language such as ( en, de, cn...). I already added the directive:
[code]

and config in controll as below:
[code]

It can display as my expectation, but when I try to change language from en -> de,  it doesn't change the labels. It **just update after I tried to refresh the page**.
Does anyone have suggestion for this issue?

Th